name: pind
description: global secondary index
version: {{ version }}
services:
  - name: pind
    description: global secondary index
    default_configuration:
      none:
migration:
{% for migration in migrations -%}
- {{ migration }}
{% endfor -%}

